.myapp {
  text-align: center;
}

.appvideo {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.responsive-video, .responsive-canvas {
  width: 100%;
  height: auto;
}

.responsive-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
